Source: iii
Section: graphics
Priority: optional
Maintainer: Michael Krelin <hacker@klever.net>
Build-Depends: debhelper, cdbs, gsoap, libssl-dev, libconfuse-dev, libarchive-dev, gettext, xsltproc, pkg-config
Standards-Version: 3.9.1
Homepage: http://kin.klever.net/iii

Package: iii
Architecture: any
Depends: adduser, ${shlibs:Depends}, ${misc:Depends}
Description: Eye-Fi Manager implementation
 Implementation of Eye-Fi manager service for Linux

